h1{
    text-align: center;
}
.p1,.p2,.p3{
width:30%;
height:300px;
float:left;
margin: 5px;
padding: 5px;

}
.p1{
    border: black solid 1px;
    background-color: blanchedalmond;
    color: black;
    font-size: 30px;
}
.p2{
    border: blue solid 1px;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}
.p3{
    border: red solid 1px;
    background-color: maroon;
    color: white;
    font-size: 30px;
}

@media screen and (min-width:992px){
    .p1,.p2,.p3{
        width:30%;
        height:300px;
        float:left;
        margin: 5px;
        padding: 5px;
        
        }   
}
@media screen and (min-width:768px) and (max-width:991px){
    .p1,.p2{
        width:47%;
        height:300px;
        float:left;
        margin: 5px;
        margin-right: 5px;
        padding: 5px;
        
        }
        .p3{
            width:98%;
            height:300px;
            float:left;
            margin: auto;
            margin-right: 20px;
            padding: 5px;
        }   
}
@media screen and (max-width:767px){
    .p1,.p2,.p3{
        width:98%;
        height:300px;
        float:center;
        margin: 5px;
        margin-right: 5px;
        padding: 5px;
        
    }
}

/* #s1,#s2,#s3{
    margin-right: 0%;
    margin-top: 0%;
} */
#s1,#s2,#s3{
    float:right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    margin: 0%;
    border:solid black 1px;
}
#s1{
    background-color: burlywood;
}
#s2{
    background-color: brown;
    color:cornsilk;
}
#s3{
    background-color: gold;
    color: white;
}
